@font-face {
    font-family: 'Raleway';
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
    font-family: 'KaushanScript';
    src: url(../fonts/KaushanScript-Regular.ttf)
}

body {
    user-select: none;
    background-color: transparent;
}

.clientAuth-container {
    position: absolute;
    top: 10vw;
    left: 36vw;
    height: 18vw;
    width: 30vw;
    background-color: #161819f8;
    animation: clientAuth-slide-in;
    animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1.5s;
    border-radius: 0.4vw;
    box-shadow: 1vw 1.3vw 5vw rgba(25, 25, 25, 0.8) !important;
}

.clientAuth-input-name {
    position: absolute;
    top: 6vw;
    left: 2.3vw;
    height: 2.1vw;
    width: 25vw;
    background-color: #161819;
    border: 1.4px solid #111213;
    border-radius: 0.2vw;
    box-shadow: 0.2vw 0.3vw 0.5vw rgba(25, 25, 25, 0.8) !important;
    outline: none;
    text-align: center;
    color: #fff;
    font-family: 'Raleway';
    font-size: 0.8vw;
}

.clientAuth-input-name:hover {
    border: 1.4px solid #fcd619;
    transition: 0.4s;
}

.clientAuth-input-password {
    position: absolute;
    top: 9vw;
    left: 2.3vw;
    height: 2.1vw;
    width: 25vw;
    background-color: #161819;
    border: 1.4px solid #111213;
    border-radius: 0.2vw;
    box-shadow: 0.2vw 0.3vw 0.5vw rgba(25, 25, 25, 0.8) !important;
    outline: none;
    text-align: center;
    color: #fff;
    font-family: 'Raleway';
    font-size: 0.8vw;
}

.clientAuth-input-password:hover {
    border: 1.4px solid #fcd619;
    transition: 0.4s;
}

.clientAuth-btn-login {
    position: absolute;
    top: 13vw;
    left: 6.5vw;
    height: 2vw;
    width: 8vw;
    background-color: #fcd619;
    border: 1.4px solid #111213;
    border-radius: 0.2vw;
    box-shadow: 0.2vw 0.3vw 0.5vw rgba(25, 25, 25, 0.8) !important;
    outline: none;
    text-align: center;
    color: #000;
    font-family: 'Raleway';
    font-size: 1.3vw;
}

.clientAuth-btn-login:hover {
    transition: 0.5s;
    background-color: #161819;
    color: #fff;
}

.clientAuth-btn-register {
    position: absolute;
    top: 13vw;
    left: 15.5vw;
    height: 2vw;
    width: 8vw;
    background-color: #fcd619;
    border: 1.4px solid #111213;
    border-radius: 0.2vw;
    box-shadow: 0.2vw 0.3vw 0.5vw rgba(25, 25, 25, 0.8) !important;
    outline: none;
    text-align: center;
    color: #000;
    font-family: 'Raleway';
    font-size: 1.3vw;
}

.clientAuth-btn-register:hover {
    transition: 0.5s;
    background-color: #161819;
    color: #fff;
}

@keyframes clientAuth-slide-in {
    0% {
      transform: translateX(500px) scale(.2);
    }
    100% {
      transform: translateX(0px) scale(1);
    }
}